



<div class="container">
    <input type="text" placeholder="Name"><br>
    <select name="Courses" id="">
        <option value="BA">BA</option>
        <option value="MA">MA</option>
        <option value="B.TECH">B.TECH</option>
    </select>
    <form >
        <tr>
            <td>Name</td>
            <td>course</td>
            <td>Eligiblity</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
 </form>
    

 <app-c1></app-c1>
 <app-c2></app-c2>
</div>
